.formacao {
  background: #141414;
  color: white;
}

.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-container::after {
  content: '';
  display: block;
  width: 130px;
  height: 100px;
  background: url(../scr/detalhe.svg) no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.formacao .subtitulo {
  color: #000000;
  max-width: 5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #FFFFFF;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: #101010;
  border: 1px solid #000;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso{
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
  flex: 1;
}

.faculdade-curso::before{
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#996E50, #72472A);
  position: absolute;
  left: -24px;
}

.faculdade-instituicao {
  font-size: 0.875rem;
  color: #a3a3a3;
}

.curso-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
  margin-top: 10px;
}

.curso-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 5px;
  background: #F0F0F0;
  color: #141414;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .formacao .subtitulo {
    color: #FFFF;
  }

  .formacao-texto {
    font-size: 1.25rem;
  }
}